/* Navigation elements */
.tce-nav-links ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.page-numbers {
	justify-content: center;
}

.tce-nav-links li {
	padding: 0;
	text-align: center;
}

.tce-alpha-index:before {
	content: '';
	width: 100%;
	order: 1;
}

.tce-alpha-index:after {
	content: '';
	width: 38px;
	order: 1;
}

.tce-alpha-index li:nth-child(n+15) {
	order: 2;
}

.tce-nav-links a,
.tce-nav-links span {
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	display: block;
	margin: 0 2px 2px 0;
	min-width: 36px;
	padding: 8px;
	transition: all .5s ease;
}

.tce-nav-links a:hover {
	background: #981e32;
	color: #fff;
}

.tce-nav-links .current,
.tce-nav-links span {
	cursor: text;
}

.tce-nav-links .current a,
.tce-nav-links .current a:hover,
.tce-nav-links span,
.tce-nav-links span:hover {
	background: transparent;
	border-color: transparent;
	color: #717171;
	pointer-events: none;
}

.tce-nav-links .prev {
	left: 2rem;
	margin: 0;
	position: absolute;
}

.tce-nav-links .next {
	margin: 0;
	position: absolute;
	right: 2rem;
}

.tce-search {
	padding: 0;
	margin: 0 0 2px 0;
}

.tce-search div {
	position: relative;
}

.tce-search label,
.tce-course-filter label[for=tce-course-filter-input] {
	display: block;
	font-size: 1em;
	font-weight: normal;
	padding: 8px 0 9px 12px;
}

.tce-search input[type=search],
.tce-course-filter input[type=search] {
	background: #fff;
	border-radius: 0;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	color: #717171;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	margin: 0;
	padding: 8px 50px 8px 12px;
	width: 100%;
	-webkit-appearance: textfield;
}

.tce-search input[type=search]:focus,
.tce-course-filter input[type=search]:focus {
	color: #981e32;
}

.tce-search input[type=submit] {
	background: #bdbdbd;
	border: none;
	border-radius: 1px;
	color: #fff;
	font-family: Spine-Icons;
	font-size: 1em;
	height: 100%;
	margin: 0;
	padding: 4px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background .5s ease;
	width: 38px;
}

.tce-search input[type=submit]:hover {
	color: #fff;
	background: #981e32;
	border-width: 0;
}

.tce-search input[type=submit]:focus {
	color: #fff;
	background: #c60c30;
	border-width: 0;
}

/* Institution and course listings */
.tce-heading {
	padding-top: 0;
}

.tce-listings ul {
	list-style: none;
	padding: 0;
}

.tce-courses thead tr:first-child span {
	display: flex;
}

.tce-courses thead tr:first-child span:after {
	background-color: #bdbdbd;
	content: '\a0';
	flex-grow: 1;
	height: 1px;
	margin: 0 0.5em;
	position: relative;
	top: 0.8em;
}

.tce-column-headings th:first-of-type,
.tce-column-headings th:nth-of-type(2) {
	width: 6rem;
}

.tce-column-headings th:nth-of-type(5),
.tce-column-headings th:last-of-type {
	width: 5.55rem;
}

.tce-column-headings th a:hover:after,
.tce-column-headings th .sorted:after {
	border: solid transparent;
	border-width: 0.6em 0.4em;
	border-top-color: #c60c30;
	content: ' ';
	margin-left: 0.5em;
	margin-top: 7px;
	position: absolute;
}

.tce-column-headings th .sorted:after {
	border-top-color: #981e32;
}

.tce-column-headings th .sorted.asc:after {
	border-bottom-color: #981e32;
	border-top-color: transparent;
	margin-top: 0;
}

.tce-column-headings th .sorted.asc:hover:after {
	border-bottom-color: #c60c30;
}

.tce-courses tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

/* Course filter elements */
.tce-course-filter {
	margin: 0;
	padding: 0;
}

.tce-course-filter input[type=search],
.tce-course-filter label {
	margin-right: 2rem;
}

.tce-course-filter input[type=search] {
	padding: 8px 12px;
	width: 25%;
}

.tce-course-filter label {
	font-weight: normal;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.tce-loading {
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	border: 0.25rem solid rgba(113,113,113,0.5);
	border-radius: 50%;
	border-top-color: #981e32;
	height: 2rem;
	margin: 0 auto;
	width: 2rem;
}
