.tce-institution-search {
	padding: 0;
	margin: 0 0 2px 0;
	position: relative;
}

.tce-institution-search input[type=search] {
	background: #fff;
	border-radius: 0;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	color: #717171;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	margin: 0;
	padding: 8px 50px 8px 12px;
	width: 100%;
	-webkit-appearance: textfield;
}

.tce-institution-search input[type=search]:focus {
	color: #981e32;
}

.tce-institution-search input[type=submit] {
	background: #bdbdbd;
	border: none;
	border-radius: 1px;
	color: #fff;
	font-family: Spine-Icons;
	font-size: 1em;
	height: 100%;
	margin: 0;
	padding: 4px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background .5s ease;
	width: 38px;
}

.tce-institution-search input[type=submit]:hover {
	color: #fff;
	background: #981e32;
	border-width: 0;
}

.tce-institution-search input[type=submit]:focus {
	color: #fff;
	background: #c60c30;
	border-width: 0;
}
